<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VatsimAtcTrainingSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VatsimAtcTrainingSimulator.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="cid" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="vatsimServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>6809</value>
            </setting>
            <setting name="protocol" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="updateRate" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="commandFrequency" serializeAs="String">
                <value>199.998</value>
            </setting>
        </VatsimAtcTrainingSimulator.Properties.Settings>
    </userSettings>
</configuration>